<div class="col-2 text-center">
  <ul class="nav flex-column nav-pills">
    <a href="/" class="nav-link active" ariaCurrentWhenActive="page">Menu</a>
    <a href="/fotos/findAll/view" class="nav-link" ariaCurrentWhenActive="page">Fotos</a>
  </ul>
</div>